@media only screen and (max-width: 1200px)
{
    header{
        height: 90vh;
    }

    .row{
        margin: 0 15px;
    }

    .hero-text-box{
        width:100%;
    }

}

@media only screen and (max-width: 1024px)
{
    .mobile-menu span{
        display:block;
    }

    .mobile-menu{
        
    }
    .main-nav{
        display: none;
    }

    html{
        font-size: 57.5%;
    }

    /* .box{
        padding:0%;
    } */

    .client-photo{
        width: 100%;
        float:none;
        text-align:center;
    }

    .client-review{
        width: 100%;
        float:none;
        text-align:center;
        margin-bottom:2rem;
    }

    .contact-section form{
        width:100%;
        margin-left: 0;
    }

}

@media only screen and (max-width: 980px) {
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }

    html{
        font-size:62.5%;
    }
    
}

@media only screen and (max-width: 768px) {
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }

    html{
        font-size:57.5%;
    }

    .little-description{
        width: 100%;
        margin-left: 0;
    }

    .footer-section li a {
        font-size:20px;
    }

    h1{
        font-size:3.5rem;
    }

    h2{
        font-size:3rem;
    }

    h3{
        font-size:2rem;
    }

    .client-review p {
        font-size: 1.8rem;
    }

    .client-review h3 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) {

    /* html{
        font-size:62.5%;
    } */

    header{
        height: 65vh;
    }

    .little-description{
        width: 100%;
        margin-left: 0;
    }

    .footer-section li a {
        font-size:20px;
    }

    h1{
        font-size:3rem;
    }

    h2{
        font-size:2.5rem;
    }

    h3{
        font-size:2rem;
    }

    .client-review p {
        font-size: 1.8rem;
    }

    .client-review h3 {
        font-size: 2rem;
    }

    .contact-section form{
        width:100%;
        margin-left: 0;
    }

    .portfolio-button button {
        font-size: 1.4rem;
    }

    .testimonial-section .col:nth-child(3),
    .testimonial-section .col:nth-child(4){
    margin-top: 4rem;
    }

    .btn:link, .btn:visited, .btn {
        padding: 1.5rem 1rem;
        border-radius: 0.3rem;
        margin-top: 3.5rem;
        font-size: 1.2rem;
    }
}