/* Basic Setup */

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height:1.3;
}

ul li{
    list-style-type:none;
}

/* Heading */
h1{
    font-size:4.2rem;
    color: rgb(255, 255, 255);
}

/* .clearfix::after{
    content: "";
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
} */

/* Reusable Component */
.row{
    max-width: 114rem;
    margin: 0 auto;
}

h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight:600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
} 

h2::after{
    content: "";
    display: block;
    height: .4rem;
    background: #bedbd6;
    width: 8.5rem;
    margin:auto;
    margin-top:2rem;
}

h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight:600;
}

.box{
    padding:1%;
}

.box p{
    margin-top:3rem;
    font-size:1.6rem;
    font-weight:300; 
    color:#fff;
}

/* Button */
    .btn:link,
    .btn:visited,
    .btn {
        background: #333;
        border-bottom: 0.3rem solid #000;
        color:#fff;
        text-decoration: none;
        text-transform: uppercase;
        padding:1.6rem 4rem;
        border-radius: 0.3rem;
        display:inline-block;
        margin-top:4.5rem;
        font-size: 1.6rem;
    }

/*Little description -Paragraph */
.little-description{
    font-size: 1.8rem;
    width:60%;
    color: #fff;
    margin-left:20%;
    line-height: 3rem;
}

p{
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

/* ---------------- */
/* Header Section */
/* ---------------- */

header{
    background: linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)), url("/resources/css/img/hero-bg.jpg");
    height:85vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* height:85vh; */
    position:relative;
}

.logo{
    height:3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float:left;
}

/* Main Navigation */
.main-nav{
    float:right;
    margin-top: 4rem;
}

.main-nav li{
    display:inline-block;
    margin-left: 3rem;
}

.main-nav li:first-child{
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: hsla(281, 35%, 35%, 0);
    padding: 0.6rem 1.5rem;
    border-radius:0.5rem;
    display:inline-block;
    font-size:1.6rem;
    transition: .3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: rgba(101, 58, 120, 1);
}

.main-nav li.active a{
    background: rgba(101, 58, 120, 1);
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited{
    background: #eb7d4b;
    border-color: #c86a40;
}

/* ---------------- */
/* Services Section */
/* ---------------- */

section{
    padding: 8rem ;
}

.services-section{
    background: linear-gradient(rgba(23, 194, 164, 0.9),rgba(23, 194, 164, 0.9)), url("/resources/css/img/services-bg.jpg");
    color:rgb(250, 249, 249);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

.services-section h2::after{
    background: #14a58c;
}

.services-icon{
    height:12rem;
    margin-top:3.5rem;
    margin-bottom:3rem;
}

.services-icon h3::after{
    margin-bottom: 2rem;
}

/* .services-icon p::after{
    width: 20rem;
} */


/* ---------------- */
/* Team Section */
/* ---------------- */

.team-section{
    background: linear-gradient(rgba(231, 241, 248, 0.9),rgba(231, 241, 248, 0.9)), url("/resources/css/img/team-bg.jpg");
    color:rgb(10, 0, 0);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

.team-section h2{
    color: #535e75;
}

.team-section h2::after{
    background: #c8d9e5;
}

.team-section p{
    color: #3c4761;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    padding:2%;
}

.team-member{
    margin-top: 2.3rem;
    margin-bottom:3.5rem;
    height:20rem;
    width:20rem;
    border-radius:50%;
}

.team-section h3{
    color: #3c4761;
}

.role{
    color: #48c1e9;
    font-size:1.6rem;
    margin-top:.5rem;
    text-transform: capitalize;
    display:inline-block;
}

.team-section .box p{
    color: #535e75;
}

.social-link{
    margin-top: 4.5rem;
}

.social-link ul li{
    display:inline-block;
    margin: 0 .5rem;
}

.social-link ul li a{
    color:#fff;
}

.social-link ul li a i::before{
    background-color: #bdd1df;
    width:2rem;
    height:2rem;
    display:inline-block;
    font-size:2rem;
    padding: 1rem;
    border-radius:50%;
    transition:.5s;
}

.social-link ul li a:hover i::before{
    background: #07273d;
    transform: rotate(360deg);
}

/* ---------------- */
/* Skill Section */
/* ---------------- */

.skill-section{
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.7)),url('/resources/css/img/skill-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.skill-section h2,
.skill-section h3{
    color:#3c4761;
    text-align: center;
}

.skill-section h2::after{
    background: #dfe8ed;
}

.skill-section .box{
    margin-top: 4.5rem;
}

.skill-section p{
    color: #3c4761;
    font-size:1.8rem;
    margin-bottom: 3.2rem;
    padding:2%;
    text-align: center;
}


svg.radial-progress circle{
    fill: rgba(0,0,0,0);
    stroke-width: 5;
}

svg.radial-progress text{
    fill: #3c4761 ;
    font-size: 1.5rem;
    text-anchor: middle;
}

svg.web-design circle{
    stroke:#30bae7;
}

svg.html-css circle{
    stroke:#d74680;
}

svg.graphic-design circle{
    stroke:#15c7a8;
}

svg.ui-ux circle{
    stroke:#eb7d4b;
}

/* ---------------- */
/* Portfolio Section */
/* ---------------- */

.portfolio-section{
    
    background: linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)),url('/resources/css/img/portfolio-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.portfolio-section h2{
    color: #393939;
}

.portfolio-section h2::after{
    background: #e5c37f;
}

.little-description{
    color: #393939;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    padding:2%;
    /* text-align: center; */
}

.portfolio-button{
    margin:4.5rem 0;
}

.portfolio-button button{
    background: #ebc985;
    font-size:1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #393939;
    margin:0 .5rem;
    transition: .5s;
}

.portfolio-button button:hover{
    cursor: pointer;
    box-shadow: inset 0 .3rem .5rem rgba(83, 94, 117, 0.9);
}

.portfolio-image{
    width:100%;
    height: 30rem;
}

.portfolio-section .col:nth-child(3) {
    margin-left: 0;
}

.portfolio-section h4{
    font-size: 1.8rem;
    color: #393939;
    margin-top: 3.2rem;
}

.row .btn-more-projects{
    background-color: #17c2a4;
    border-color: #14a58c
}

.portfolio-section .mixitup-control-active{
    background:rgb(250, 249, 249);
}